
//@use 'components/product' ;
@use 'foundation/image';
@use 'foundation/buttons';
@use 'foundation/input';
@use 'foundation/typo';
@use 'components/cards';



/*
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/

//$font-stack: "Montserrat" , sans-serif;
$font-hero :"Inria serif" , serif;
$primary-color: #282525;


html {
  scroll-behavior: smooth;
}
body {
  //font: 100% $font-stack;
  margin: 0;
  padding: 0;
}

#main {
    position : relative;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    color : blue
}

.header-nav-item {
    display :flex;
    justify-content: space-around;
    align-items: center;
    height :100%;
    @media screen and (max-width : 768px){
        display :none;
    }
}

 .header-nav-item:hover {
   border-bottom: 2px solid blue ;
}

header {
    display :flex;
    justify-content: space-around;
    align-items: center;
    color:black;
    padding: 0 0.5rem 0 0.5rem;
    position:relative;
}
/*TODO - TYPO */
.header-logo-title{
    font-family: $font-hero;
    font-size : 1rem;
    margin:0;
}

.header-logo-subtitle {
    font-size : 0.4rem;
    font-weight: 100;
    color: grey;
    margin : 0.2rem;
}


/*TODO - TYPO */


#logo {
    display: flex;
    align-items: center;
    margin:0;
}

#logo > figure > img {
    width :2.5rem;
    height :2.5rem;
}

nav {
    width :80%;
    height: 5rem;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    margin :0px;
    font-weight: 800;
    height : 100%;
        @media screen and ( max-width : 768px ){
            
            
            display :none;
            flex-direction: column;
            position :fixed;
            height:100vh;
            z-index:99;
            left: 0%;
            width: 100%;
            top:0%;
            background-color: white;
            color :black;
            &.opened {
                display: flex;
            }
        
    }
}



.hamburger{
    display :none; 
    @media screen and ( max-width : 768px ){
        display : flex;
        position: absolute;
        z-index:100;
        top:40%;
        right: 2%;
        width: 1em;
        height: 1em;
        font-size: inherit;
        transition: all 0.3s ease;
        cursor: pointer;
        &-line {
            position: absolute;
            right: 0;
            width: 100%;
            height: 0.125em;
            border-radius: 0.125em;
            background: currentColor;
            transition: inherit;
            background-color: white;
        
            &:nth-child(1) {
              top: 0.125em;
        
              .hamburger.is-active &,
              .w-nav-button.w--open & {
                top: 50%;
                background-color: black;
                transform: translateY(-50%) rotateZ(-135deg);
              }
            }
        
            &:nth-child(2) {
              top: 0.438em;
        
              .hamburger.is-active &,
              .w-nav-button.w--open & {
                background-color: black;
                right: 50%;
                width: 0;
              }
            }
        
            &:nth-child(3) {
              top: 0.75em;
              width: 0.625em;
        
              .hamburger.is-active &,
              .w-nav-button.w--open & {
                background-color: black;
                top: 50%;
                width: 100%;
                transform: translateY(-50%) rotateZ(135deg);
              }
            }
        }
    }   
}



li {
    list-style-type: none;
}

.fancy-menu {
    display : none;
}

#hero{
    margin-top : 0.5rem;
    display :flex;
    flex-direction: column;
    justify-content: center;
    height :80vh;
    position : relative;
    min-height: 100%;
    background: linear-gradient(to right, #eeeeee 0%, #eeeeee 30%, #eeeeee 35%, #000000ff calc(100% - 40rem));
    background-size: cover;
    background-position: top 0px left 20rem;
       /*
    background : 
      linear-gradient(to right, #00000000 0%, #00000000 15%, #000000ff calc(100% - 40rem)), 
      linear-gradient(to right, #000000ff 0%, #000000ff 100%);
    background-size: cover, 20rem 4rem, auto;
    background-position: top right, 0rem 30rem, top right;*/
    background-repeat:no-repeat; /* this is important !! */
    color :black;
    @media  screen  and ( max-width :768px) {
        height :50vh;
        background-position: top 0px left 15rem;
    }

    @media screen and (max-width: 576px) {
      height :45vh;
      background : linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3));
      background-size: cover;
      background-position: center right;
      background-repeat: no-repeat;

    }
}

.hero-title {
    font-size : 2rem;
    margin :0;
    padding :0;
    @media screen and (max-width :768px){
        font-size : 1.2rem;
    }
}

.hero-text-block {
    width : 50%;
    margin : 0 1rem 0 1rem;
    @media screen and (max-width :768px){
        width : 60%;
    }
}


.hero-testimonials {
    display :flex;
    flex-direction: column;
    width: 18%;
    position : absolute;
    right : 0.5%;
    top : 40%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 15px;
    padding :0.5rem;

}

.hero-testimonial-block {
    display :flex;
    justify-content: space-around;
    align-items: center;
    width : 100%;
}



.hero-testimonial-text {
  font-size : 0.6rem;
  margin : 0;
}

.hero-testimonial-note {
    font-size : 0.9rem;
    font-weight: 600;
}

.hero-testimonial-images {
    display :flex;
}

.hero-testimonial-rating {
  width :30%;
}
.hero-testimonial-rating p {
  margin : 0.1rem;
  width: 50%;
  //border :1px solid black;
}


.stars {
    display :flex;
    //border :1px solid black;
}

.hero-testimonial-image > img{
    width : 1.2rem;
    height : 1.2rem;
    border-radius: 100%;
    border : 2px solid white;
    margin :0;
}



img {
    width :100%;
    height :100%;
}



.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section {
    margin : 1rem;
    display: flex;
    flex-direction : column;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding :3rem;
    @media screen and (max-width : 576px) {
      flex-direction: column;
    }
}

.subtitle {
    font-size : 50px; 
    margin-top :0rem;
    margin-bottom :5rem;
}

.dark {
    background-color:  $primary-color;
    color :white;
}
.two-block {
    display :flex; 
    justify-content: space-around;
    @media screen and (max-width :768px){
        flex-direction: column;
    }
}

.important-text-block {
    width:50%;
    margin-bottom :5rem;
    margin-right :3rem;
    @media screen and (max-width : 768px) {
        width :100%;
    }
}

.block-mid {
    width :50%;
    margin :2rem;
    @media screen and (max-width : 768px){
        width :80%;
    }
}

.text_bloc {
    padding :2rem;
    color : black;
}

.inner {
    display : flex;
    flex-direction: column;
    align-items: center;
}

#recipes {
    color : black;
    height :45rem;
}

#mission {
    background-image : url("https://assets.digitalocean.com/labs/images/community_bg.png") ;
    background-size: contains;
    height :30rem
} 

#socials{
    color :black;
}
.social_card {
    width :12rem;
    height :12rem;
    background-color: red;
}

.recipe_card {
    margin :0 auto;
}

.recipe_card > p {
    text-align: center;
}

.topic {
    display : flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
    min-height :25rem;
}

.more {
    display : none;
    background-color:white;
    color : black;
    min-height : 5rem;
    padding :0.4rem;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height : 25rem;
    width:50%;
    color :white;
    padding : 2rem;

    @media screen and (max-width :768px){
        width :80%;
    }
}

q {
    font-size :25px;
}

.black-font {
    color :black;
}


.carrousel {
    display: flex;
    width :80%;
    justify-content: center;
    overflow-y: scroll;
}

.question-part {
    display :flex;
    justify-content: space-between;
    align-items: center;
    margin :0.2rem;
    padding :0.5rem;
    border-bottom: 1px solid white;
}

#question_board > ul {
    margin :0;
    padding :0
}

#similar-products {
    margin :3rem 0rem;
}

.collapse {
    display: block;
}

.social_icons {
    display: flex;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    font-size :11px;
    height :25rem;
    padding :1.5rem;
    @media screen and (max-width : 768px) {
        flex-wrap: wrap;
    }
}



#devis {
  display: flex;
  flex-direction: column;
  margin : 2rem auto;
  width : 60%;
}


.formgroup {
  margin : 2rem;
}


#chat {
    position : fixed;
    width: 30%;
    bottom : 1%; 
    right :1%;
    //border : 1px solid red;
}

.chat-box {
    border-radius: 5%;
    flex-direction: column;
    background-color: white;
}

.chat-header {
    display : flex; 
    align-items: center;
    justify-content: space-around;
    background-color: blue;
    color : white;
}

.step-jauge {
    width : 100px;
    height : 5px;
    border-radius :5px;

}

.step-advancement {
    height :100%;
    width :50%;
    background-color: blue;
}
.chat-bubble {
    width :50px;
    height :50px;
}

.connect-light {
    width : 10px;
    height : 10px;
    border-radius: 10px;
    margin :0.5rem;
}

.online-box {
    display: flex;
    align-items: center;
}

.choice-box {
    text-align: center;
    padding :0.3rem;
    border : none;
    box-shadow : 1px 1px 3px grey;
    height: 2rem;
    background :white;
    color :black;
}

.choice-box.checked {
    border :2px solid black;
    background-color:blue;
    color :white;
}

.choice-box:hover {
    border :1px solid blue;
}